<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="POST">
        <input type="text" name="Username" placeholder="Username">
        <input type="text" name="Password" placeholder="Password">
        <input type="submit" value="Submit">
    </form>
    <% if (locals.message) { %>
        <p style="color: red;"><%= message %></p>
    <% } %>
    <a href="/">Login</a>
</body>
</html>